.b-gripper-horz {
    .b-hover-top.b-starts-above &,
    .b-hover-bottom.b-ends-below & {
        display: none;
    }
}

.b-cal-event-wrap {
    &:not(.b-rtl) {
        &.b-hover-left.b-continues-past,
        &.b-hover-right.b-continues-future {
            .b-gripper-vert {
                display: none;
            }
        }
    }
    &.b-rtl {
        &.b-hover-right.b-continues-past,
        &.b-hover-left.b-continues-future {
            .b-gripper-vert {
                display: none;
            }
        }
    }
}

.b-cal-drag-proxy {
    position       : absolute;
    pointer-events : none;
    opacity        : 0.8;
    max-width      : 17em;

    .b-cal-event {
        background : $yearview-dragproxy-background;
        // Equal padding both ends so that text or trailing icons don't run right into the end
        padding    : 0 $calendar-event-bar-padding-start;
        gap        : $cal-event-bar-gap;
    }
}

// In YearViews the cell is the receiver of b-cal-tentative-event, so we do not want it to be untargetable.
.b-dayview-content,
.b-monthview-content {
    .b-cal-tentative-event {
        pointer-events: none;
    }
}

.b-dayview-day-container {
    .b-cal-tentative-event:not(.b-cal-tentative-event-first) {
        .b-event-header,
        .b-cal-event-desc {
            display: none;
        }
    }
}

// When dragging, do not allow hover effect on week number, day number, or overflow button.
.b-draggable-started {
    // Hand cursor while dragging
    cursor : pointer;

    .b-week-num, .b-day-num, .b-cal-cell-overflow {
        pointer-events: none;
    }
}

.b-cal-event-wrap.b-resizing {
    display:none;
}

.b-cal-event-wrap:not(.b-cal-tentative-event-last) {
    .b-cal-event-footer {
        display: none;
    }
}

.b-cal-event-footer {
    position: absolute;
    bottom: 0.5em;
    right: 0.7em;
    white-space: nowrap;
    font-size: .7em;

    .b-rtl & {
        right : auto;
        left  : 0.7em;
    }
}
