.b-eventlist {
    .b-grid-panel-body {
        // Override Grid's idea bout background
        background-color : $calendar-background-color;
        position         : relative;

        .b-cal-widget-settings-button {
            position          : absolute;
            font-size         : 110%;
            border-radius     : 50%;
            left              : auto;
            right             : 0;
            margin-top        : 0.75em;
            margin-inline-end : 0.75em;
            z-index           : 100;
            width             : 3em;
            height            : 3em;

            .b-rtl & {
                right : auto;
                left  : 0;
            }
        }

        &.b-has-scrollbar {
            .b-cal-widget-settings-button {
                margin-inline-end: 1.75em;
            }
        }
    }
}

.b-calendarevents-cell {
    padding     : 1em;
    gap         : 1em;
    flex-wrap   : wrap;
    align-items : flex-start;

    .b-cal-event-resource-avatars {
        flex-basis     : 30%;
        min-width      : $avatar-size;
        flex-direction : column;
        gap            : $eventlist-event-column-resource-row-gap;
    }
}

.b-cal-event-resource-avatar-row {
    display     : flex;
    flex-flow   : row nowrap;
    gap         : 1em;
    align-items : center;
}

.b-cal-event-resource-avatar-desc {
    display     : flex;
    flex-flow   : column;
    gap         : 0.3em;
}

.b-cal-event-column-event-desc {
    margin-inline-start : auto;
    display             : flex;
    flex-direction      : column!important;
    flex-flow           : row nowrap;
    height              : $avatar-size;
    justify-content     : center;
}

.b-cal-event-column-times {
    display        : flex;
    flex-direction : column;
}

.b-event-column-resource-role {
    font-size   : 80%;
    font-weight : 300;
}

.b-cal-eventlist-event-time {
    display        : flex;
    min-height     : $avatar-size;
    align-items    : center;
}

.b-cal-event-column-event-name {
    font-weight: bold;
}
